extends ./layout

block main
  // Main Navigation
  // Main layout
  main(style="margin: 0%;")
    .container-fluid.row(style="margin: 0px;")
      .col-md-9
        section
          h6(style="font-weight:600;") PRICING TABLE :
        hr
        // Section: Modals
        // Section: Modals
        // Section: Table
        section
          // Card
          .card.card-cascade.narrower(style="width: 100%;")
            // Card header
            .view.py-3.gradient-card-header.blue.mx-4.d-flex.justify-content-between.align-items-center
              a.white-text.mx-3(href="") Pricing List
              div
                button.btn.btn-outline-white.btn-rounded.btn-sm.px-2(type="button" data-toggle="tooltip" data-placement="bottom" title="info")
                  i.fa.fa-info-circle.mt-0
            // /Card header
            // Card content
            .card-body
              .table-responsive
                form(action="/admin/settings/pricing", method="post")
                  table.table
                    thead
                      tr
                        th 
                          i.fa.fa-wpforms.mt-0
                        th.th-lg Form Type
                        th.th-lg Number of Applicants
                        th.th-lg Previous Price(USD $)
                        th.th-lg Current Price(USD $)
                    tbody#forms
                      tr
                        th(scope="row") 
                          i.fa.fa-address-card
                        td Passport
                        td #{applicants[0] || 0}   Applicants
                        td #{previous.passportPrice}
                        td 
                          input(type="text" name="passportPrice" value=current.passportPrice)
                      tr
                        th(scope="row") 
                          i.fa.fa-file
                        td Visa
                        td #{applicants[1] || 0}   Applicants
                        td #{previous.visaPrice} 
                        td 
                          input(type="text" name="visaPrice" value=current.visaPrice)
                      tr
                        th(scope="row") 
                          i.fa.fa-users
                        td Dual Citizenship
                        td #{applicants[2] || 0}   Applicants
                        td #{previous.dualCitizenshipPrice}
                        td 
                          input(type="text" name="dualCitizenshipPrice" value=current.dualCitizenshipPrice)
                      tr
                        th(scope="row") 
                          i.fa.fa-calendar
                        td Appointment
                        td #{applicants[3] || 0}   Applicants
                        td #{previous.appointmentPrice}
                        td 
                          input(type="text" name="appointmentPrice" value=current.appointmentPrice)
                  input(type="hidden", name="previousP" value=current.passportPrice)
                  input(type="hidden", name="previousV" value=current.visaPrice)
                  input(type="hidden", name="previousD" value=current.dualCitizenshipPrice)
                  input(type="hidden", name="previousA" value=current.appointmentPrice)
                  .text-center.m-3
                    button.btn.btn-primary.btn-lg(type="submit") Apply Changes
              hr.my-0
              // Bottom Table UI
            // /.Card content
          // /.Card