extends ./layout.pug

block styles
  link(href="/css/styles.css" rel="stylesheet")

block main
  main(style="margin: 0%;")
    .container-fluid.row(style="margin: 0px;")
      .col-md-9
        section
          // Card
          .card.card-cascade.narrower(style="width: 100%;")
            // Card header
            .view.py-3.gradient-card-header.blue.mx-4.d-flex.justify-content-between.align-items-center
              a.white-text.mx-3(href="") Review User Profile
              div
                button.btn.btn-outline-white.btn-rounded.btn-sm.px-2(type="button" data-toggle="tooltip" data-placement="bottom" title="info")
                  i.fa.fa-info-circle.mt-0
            // /Card header
            // Card content
            .card-body
              form(name="userProfile")
                .form-section
                  p.form-section-name Identity Information
                  .row
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="fullName") Full Name
                      label.form-label.star *
                      input.disable.form-control.form-control-sm(type="text" value=user.fullName id="fullName" placeholder="Full Name" name="fullName")
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="gender") Gender
                      label.form-label.star *
                      input.disable.form-control.form-control-sm( type="text" value=user.gender placeholder="Gender" id="gender" name="gender")
                  .row
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="dateOfBirth") Date of Birth
                      label.form-label.star *
                      input.disable.form-control.form-control-sm( type="date" value=user.dateOfBirth placeholder="Date of Birth" id="dateOfBirth" name="dateOfBirth")
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="nationality") Nationality
                      label.form-label.star *
                      input.disable.form-control.form-control-sm( type="text" name="nationality" value=user.nationality id="nationality")
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="idNumber") ID Number
                      label.form-label.star *
                      input.disable.form-control.form-control-sm(type="text" value=user.idNumber id="idNumber" placeholder="ID Number" name="idNumber")
                .form-section
                  p.form-section-name Contact Information
                  .row
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="email") Email
                      label.form-label.star *
                      input.disable.form-control.form-control-sm( type="text" value=user.email placeholder="Email" id="email" name="email")
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="telephoneNumber") Telephone Number
                      label.form-label.star *
                      input.disable.form-control.form-control-sm( type="text" value=user.telephoneNumber placeholder="Telephone Number" id="telephoneNumber" name="telephoneNumber")
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="residentialAddress") Residential Address
                      label.form-label.star *
                      input.disable.form-control.form-control-sm( type="text" value=user.residentialAddress placeholder="Residential Address" id="residentialAddress" name="residentialAddress")
                .form-section
                  p.form-section-name Verification Documents
                  .row
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="bankStatement") 3 months bank statement
                      label.form-label.star *
                      br
                      a(href=``) #{user.bankStatement || "Bank Statement"}
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="residencePermit") Residence Permit
                      label.form-label.star *
                      br
                      a(href=``) #{user.residencePermit || "Residence Permit"}
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="scannedPassport") Scanned Passport
                      label.form-label.star *
                      br
                      a(href=``) #{user.scannedPassport || "Scanned Passport"}
                    .col-sm-12.col-lg-5.form-group
                      label.form-label(for="verificationStatus") Verification Status
                      label.form-label.star *
                      input.disable.form-control.form-control-sm( type="text" value=user.verificationStatus placeholder="Verification Status" id="verificationStatus" name="verificationStatus")
                  .submit-button.submit-passport-form
                    button.btn.btn-primary.btn-lg.custom-button(type='submit' formaction=`/admin/verify/${user._id}?verification=Not Verified` formmethod="post") Not Verified
                    button.btn.btn-primary.btn-lg.custom-button(type='submit' formaction=`/admin/verify/${user._id}?verification=Under Verification` formmethod="post") Under Verification
                    button#continue-later.btn.btn-primary.btn-lg.custom-button(type="submit" formaction=`/admin/verify/${user._id}?verification=Verified` formmethod="post") Verified
            // /.Card content
          // /.Card
        // Section: Table
      //- include includes/userlog.pug  
    // SCRIPTS
    // JQuery
    script(type="text/javascript" src="/js/jquery-3.3.1.min.js")
    // Bootstrap tooltips
    script(type="text/javascript" src="/js/popper.min.js")
    // Bootstrap core JavaScript
    script(type="text/javascript" src="/js/bootstrap.min.js")
    // MDB core JavaScript
    script(type="text/javascript" src="/js/mdb.min.js")
    script(type="text/javascript" src="/js/compiled.min.js")
    script(type="text/javascript" src="/js/custom.js")
    // Initializations
    script.
      $(".disable").prop("disabled", true);
      $(".disable").css("cursor", "not-allowed");