extends ./_user_dashboard_layout

block pre_bootstrap
  link(rel="stylesheet", href="/css/mdb.min.css")

block main
  // End Navbar
  .content
    .container-fluid
      .row
        .col-md-12
          if updateMessage
            .alert.alert-success.alert-with-icon.mb-5(data-notify="container")
              i.material-icons(data-notify="icon") add_alert
              button.close(data-dismiss="alert" aria-label="close")
                i.material-icons close
              span #{updateMessage}
      .row
        .col-md-8
          .card
            .card-header.card-header-primary
              h4.card-title Continue account creation
              p.card-category ONE LAST THING. Please help us get a profile of you.
            .card-body
              form(name="profile" method="POST" action="/register")
                .row
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Full Name
                      input.form-control(type='text' name="fullName" value=`${fullName}`)
                  .col-md-6
                    label.bmd-label-floating Gender &nbsp &nbsp
                    .form-group.btn-group.btn-group-toggle(data-toggle='buttons')
                      label.btn.btn-secondary.active
                        input#male(type='radio', name='gender', value="Male")
                        |  &nbsp &nbsp Male &nbsp &nbsp
                      label.btn.btn-secondary
                        input#female(type='radio', name='gender', value="Female")
                        |  &nbsp Female &nbsp
                .row
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Address
                      input.form-control(type='text' name="residentialAddress" value=`${residentialAddress}`)
                  .col-md-6
                    .form-group
                      label.bmd-label-floating ID Number
                      input.form-control(required type="text" id="idNumber" name="idNumber")
                .row
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Date of Birth
                      input.form-control(required type="text" onfocus="this.type='date'" id="dateOfBirth" name="dateOfBirth")
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Nationality
                      input.form-control(required type="text" name="nationality" id="nationality")
                .row
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Email
                        input.form-control(required type="text" value=email placeholder="Email" id="email" name="email")
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Telephone
                      input.form-control(type='text' name="telephoneNumber" value=`${telephoneNumber}`)
                .row
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Residential Address
                      input.form-control(required type="text" id="residentialAddress" name="residentialAddress")
                  .col-md-6
                    .form-group
                      label.bmd-label-floating Account Password
                      input.form-control(autocomplete="false" value=password type='password' name="oldPassword")
                .form-section
                  p.text-center.display-6.form-section-name Please provide us with 
                    strong at least 2
                    |  of the following documents
                .row
                  .col-sm-12.col-lg-4.ml-3
                    .form-check
                      label.form-check-label
                        input.form-check-input(type='checkbox', name="cbs")
                        |   3 months bank statement &nbsp &nbsp 
                        span.form-check-sign
                          span.check
                  .col-sm-12.col-lg-3.ml-1
                    .form-check
                      label.form-check-label
                        input.form-check-input(type='checkbox', name="crp")
                        |   Residence Permit &nbsp &nbsp 
                        span.form-check-sign
                          span.check
                  .col-sm-12.col-lg-3.ml-3
                    .form-check
                      label.form-check-label
                        input.form-check-input(type='checkbox', name="csp")
                        |   Scanned Passport &nbsp &nbsp 
                        span.form-check-sign
                          span.check
                br
                .row
                  .col-sm-12.col-lg-4
                    label Residence Permit
                    input(type='file', name='bankStatement')
                  .col-sm-12.col-lg-4
                    label(for='rp') 3 months Bank statement
                    input#rp(type='file' name="residencePermit")
                  .col-sm-12.col-lg-4
                    label Scanned Passport
                    input#sp(type='file' name="scannedPassport" )
                .row
                  .col-md-12
                    if message
                      .alert.alert-danger.alert-with-icon(data-notify="container")
                        i.material-icons(data-notify="icon") add_alert
                        button.close(data-dismiss="alert" aria-label="close")
                          i.material-icons close
                        span #{message}
                button.btn.btn-primary.pull-right(type='submit') Update Profile
block scripts
  script.
    $("#cbs").change(e => {
      if(e.target.checked) {
        $("#bs").attr("required",true);
      } else{
        $("#bs").attr("required",false);
      }
    });
    $("#crp").change(e => {
      if(e.target.checked) {
        $("#rp").attr("required",true);
      } else{
        $("#rp").attr("required",false);
      }
    });
    $("#csp").change(e => {
      if(e.target.checked) {
        $("#sp").attr("required",true);
      } else{
        $("#sp").attr("required",false);
      }
    });