extends ./_user_dashboard_layout

block pre_bootstrap
  link(rel="stylesheet", href="/css/mdb.min.css")

block styles
  link(rel="stylesheet", href="/css/formstyle.css")

block main
  .content
    .container
      .row
        .col-md-12.col-md-offset-3
          form#msform(method='POST', action='', enctype='multipart/form-data')
            // progressbar
            ul#progressbar
              li.active(style='color: #000000 !important;') Identity and Contact Information
              li(style='color: #000000 !important;') Passport and Work Information
              li(style='color: #000000 !important;') Travel Details and Passport Information
              li(style='color: #000000 !important;') References' Information
            // fieldsets
            fieldset
              h2.fs-title Identity and Contact Information
              h3.fs-subtitle Help us identify you and be able to contact you
              .row
                .col-sm-12.col-lg-4
                  label(for="surname") Surname : 
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.surname id="surname" placeholder="Surname" name="surname")
                .col-sm-12.col-lg-4
                  label(for="firstName") First Name:
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.firstName placeholder="First name" id="firstName" name="firstName")
                .col-sm-12.col-lg-4
                  label(for="previousName") Previous name,if changed :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.previousName placeholder="Previous name, if changed" id="previousName" name="previousName")
              .row
                .col-sm-12.col-lg-4
                  label(for="dateOfBirth") Date of Birth :
                  .form-group
                  input.form-control.form-control-sm( type="date" value=form.dateOfBirth id="dateOfBirth" name="dateOfBirth")
                .col-sm-12.col-lg-4
                  label(for="placeOfBirth") City / Town of Birth :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.placeOfBirth id="placeOfBirth" placeholder="City of Birth" name="placeOfBirth")
                .col-sm-12.col-lg-4
                  label(for="nationality") Nationality
                  .form-group
                  select.form-control.form-control-sm(placeholder="Nationality" data-option=form.nationality id="nationality" name="nationality")
                    option(value="") --Select Nationality--
              .row
                .col-sm-12.col-lg-4
                  label(for="email") Email :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.email placeholder="Email" id="email" name="email")
                .col-sm-12.col-lg-4
                  label(for="telephoneNumber") Telephone Number :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.telephoneNumber placeholder="Telephone Number" id="telephoneNumber" name="telephoneNumber")
                .col-sm-12.col-lg-4
                  label(for="residentialAddress") Residential Address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.residentialAddress placeholder="Residential Address" id="residentialAddress" name="residentialAddress")
              input.next.action-button(type='button', name='next', value='Next')
            fieldset
              h2.fs-title Passport and Work Information
              h3.fs-subtitle Tell us how we can contact you
              .row
                .col-sm-12.col-lg-4
                  label(for="passportNumber") Passport Number :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.passportNumber placeholder="Passport Number" id="passportNumber" name="passportNumber")
                .col-sm-12.col-lg-4
                  label(for="passportDateOfIssue") Date of Issue :
                  .form-group
                  input.form-control.form-control-sm( type="date" value=form.passportDateOfIssue placeholder="Date of Issue" id="passportDateOfIssue" name="passportDateOfIssue")
                .col-sm-12.col-lg-4
                  label(for="passportDateOfExpiry") Expiry Date :
                  .form-group
                  input.form-control.form-control-sm( type="date" value=form.passportDateOfExpiry placeholder="Expiry Date" id="passportDateOfExpiry" name="passportDateOfExpiry")
              .row
                .col-sm-12.col-lg-4
                  label(for="passportPlaceOfIssue") Place of Issue :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.passportPlaceOfIssue placeholder="Place of Issue" id="passportPlaceOfIssue" name="passportPlaceOfIssue")
                .col-sm-12.col-lg-4
                  label(for="formerNationality") Former nationality, if applicable :
                  .form-group
                  select.form-control.form-control-sm( name="formerNationality" data-option=form.formerNationality id="formerNationality")
                    option(value="") --Former nationality, if applicable--
                .col-sm-12.col-lg-4
                  label(for="countryOfCurrentResidence") Current country of residence :
                  .form-group
                    select.form-control.form-control-sm( name="countryOfCurrentResidence" data-option=form.countryOfCurrentResidence id="countryOfCurrentResidence")
                    option(value="") --Current country of residence--
              .row
                .col-sm-12.col-lg-4
                  label(for="profession") Profession :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.profession placeholder="Profession" id="profession" name="profession")
                .col-sm-12.col-lg-4
                  label(for="workPlaceAddress") Work Place Address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.workPlaceAddress placeholder="Work Place Address" id="workPlaceAddress" name="workPlaceAddress")
                .col-sm-12.col-lg-4
                  label(for="workPlaceTelephoneNumber") Work Place Telephone :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.workPlaceTelephoneNumber placeholder="Work Place Telephone" id="workPlaceTelephoneNumber" name="workPlaceTelephoneNumber")
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='button', name='next', value='Next')
            fieldset
              h2.fs-title Travel Details and Passport Information
              h3.fs-subtitle Please help us with some citizenship information
              .row
                .col-sm-12.col-lg-4
                  label(for="intendedDateOfTravel") Intended Date of Travel :
                  .form-group
                  input.form-control.form-control-sm( type="date" value=form.intendedDateOfTravel placeholder="Intended Date of Travel" id="intendedDateOfTravel" name="intendedDateOfTravel")
                .col-sm-12.col-lg-4
                  label(for="durationOfStayInGhana") Duration of Stay in Ghana :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.durationOfStayInGhana placeholder="Duration of Stay in Ghana" id="durationOfStayInGhana" name="durationOfStayInGhana")
                .col-sm-12.col-lg-4
                  label(for="dateOfLastVisitToGhana") Date of Last Visit to Ghana :
                  .form-group
                  input.form-control.form-control-sm( type="date" value=form.dateOfLastVisitToGhana placeholder="Date of Last Visit to Ghana" id="dateOfLastVisitToGhana" name="dateOfLastVisitToGhana")
              .row
                .col-sm-12.col-lg-4
                  label(for="purposeOfJourney") Purpose of Journey :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.purposeOfJourney placeholder="Purpose of Journey" id="purposeOfJourney" name="purposeOfJourney")
                .col-sm-12.col-lg-4
                  label(for="meansOfTravel") Means of Travel :
                  .form-group
                  select.form-control.form-control-sm( type="text" placeholder="Means of Travel" data-option=form.meansOfTravel id="meansOfTravel" name="meansOfTravel")
                    option(value="") --Select means of travel--
                    option(value="Air") Air
                    option(value="Sea") Sea
                    option(value="Land") Land
                .col-sm-12.col-lg-4
                  label(for="financialMeansOfApplicant") Financial Means of Applicant :
                  .form-group
                  input.form-control.form-control-sm( type="text" placeholder="Financial Means" id="financialMeansOfApplicant" name="financialMeansOfApplicant")
              .row
                .col-sm-12.col-lg-4
                  label(for="visaType") Visa type :
                  .form-group
                  select#visaType.form-control.form-control-sm( name="visaType" data-option=form.visaType)
                    option(value="") --Select Visa type--
                    option(value="Single Entry") Single Entry Visa
                    option(value="Multiple Entry") Multiple Entry Visa
                .col-sm-12.col-lg-4
                  label(for="posessionOfReturnTicket") Do you possess a return ticket?
                  .form-group.btn-group.btn-group-toggle(data-toggle='buttons')
                  label.btn.btn-secondary.active
                    input#yes(type='radio', name='posessionOfReturnTicket', data-posessionOfReturnTicket=form.posessionOfReturnTicket value="Yes" autocomplete='off')
                      |  Yes
                  label.btn.btn-secondary
                    input#no(type='radio', name='posessionOfReturnTicket', data-posessionOfReturnTicket=form.posessionOfReturnTicket value="No" autocomplete='off')
                      |  No
                .col-sm-12.col-lg-4
                  label(for="ticketNumber") If yes, provide ticket number :
                  .form-group
                    input.form-control.form-control-sm( type="text" value=form.ticketNumber data-ticketNumber=form.ticketNumber placeholder="If yes, provide ticket Number" id="ticketNumber" name="ticketNumber")
              .row
                .col-sm-12.col-lg-6
                  label(for="accompaniedBy") Who are you accompanied by?
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.accompaniedBy placeholder="Who are you accompanied by?" id="accompaniedBy" name="accompaniedBy")
                .col-sm-12.col-lg-6
                  label(for="accompaniedByDateOfBirth") Provide his/her date of birth :
                  .form-group
                  input.form-control.form-control-sm( type="date" value=form.accompaniedByDateOfBirth placeholder="His/Her Date of Birth" id="accompaniedByDateOfBirth" name="accompaniedByDateOfBirth")
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='button', name='next', value='Next')

            fieldset
              h2.fs-title References' information
              h3.fs-subtitle Tell us about your references
              p First Reference
              .row
                .col-sm-12.col-lg-4
                  label(for="guarantorsName1") Reference's full name :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.references[0].fullName placeholder="Full name" name="guarantorsName1" id="guarantorsName1")
                .col-sm-12.col-lg-4
                  label(for="guarantorsAddress1") Reference's address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.references[0].address placeholder="Residential address" name="guarantorsAddress1" id="guarantorsAddress1")
                .col-sm-12.col-lg-4
                  label(for="guarantorsTelephoneNumber1") Reference's telephone :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.references[0].telephoneNumber placeholder="Telephone number" name="guarantorsTelephoneNumber1" id="guarantorsTelephoneNumber1")
              hr
              p Second Reference
              .row
                .col-sm-12.col-lg-4
                  label(for="guarantorsName2") Reference's full name :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.references[1].fullName placeholder="Full name" name="guarantorsName2" id="guarantorsName2")
                .col-sm-12.col-lg-4
                  label(for="guarantorsAddress2") Reference's address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.references[1].address placeholder="Residential address" name="guarantorsAddress2" id="guarantorsAddress2")
                .col-sm-12.col-lg-4
                  label(for="guarantorsTelephoneNumber2") Reference's telephone :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.references[1].telephoneNumber placeholder="Telephone number" name="guarantorsTelephoneNumber2" id="guarantorsTelephoneNumber2")
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.action-button(type='submit', name='next', value='Submit')

block scripts
  script(src="/js/countries.js")
  //- script(src="/js/jquery.min.js")
  script.
    var countryOfCurrentResidence = document.querySelector("#countryOfCurrentResidence");
    var formerNationality = document.querySelector("#formerNationality");
    var nationality = document.querySelector("#nationality");

    if (nationality) {
      countries.forEach(function(country) {
        appendOptions(countryOfCurrentResidence, country.name);
        appendOptions(formerNationality, country.name);
        appendOptions(nationality, country.name);
      });
    }

    function appendOptions(parent, value) {
      var option = document.createElement("option");
      option.innerHTML = value;
      parent.appendChild(option);
    }

    if($("#yes").attr("data-posessionOfReturnTicket") === "Yes") {
      $("#yes").attr("checked", true);
      var ylabel = $("#yes").parent();
      var nlabel = $("#no").parent();
      $(ylabel).addClass("active");
      $(nlabel).removeClass("active");
      $("ticketNumber").attr("disabled", false);
    }

    if($("#no").attr("data-posessionOfReturnTicket") === "No") {
      $("#no").attr("checked", true);
      var ylabel = $("#yes").parent();
      var nlabel = $("#no").parent();
      $(ylabel).removeClass("active");
      $(nlabel).addClass("active");
      $("ticketNumber").val("");
      $("ticketNumber").attr("disabled", true);
    }

    $("#yes").change( () => {
      var ticketN0 = $("#ticketNumber").attr("data-ticketNumber");
      console.log("changed yes", ticketN0);
      $("#ticketNumber").val(ticketN0);
      $("#ticketNumber").attr("disabled",false);
    });

    $("#no").change(() => {
      console.log("changed no");
      $("#ticketNumber").val("");
      $("#ticketNumber").attr("disabled",true);
    });

    
    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
      if(animating) return false;
      animating = true;
      
      current_fs = $(this).parent();
      next_fs = $(this).parent().next();
      
      //activate next step on progressbar using the index of next_fs
      $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
      
      //show the next fieldset
      next_fs.show(); 
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
          //as the opacity of current_fs reduces to 0 - stored in "now"
          //1. scale current_fs down to 80%
          scale = 1 - (1 - now) * 0.2;
          //2. bring next_fs from the right(50%)
          left = (now * 50)+"%";
          //3. increase opacity of next_fs to 1 as it moves in
          opacity = 1 - now;
          current_fs.css({
            'transform': 'scale('+scale+')',
            'position': 'absolute'
          });
          next_fs.css({'left': left, 'opacity': opacity});
        }, 
        duration: 800, 
        complete: function(){
          current_fs.hide();
          animating = false;
        }, 
        //this comes from the custom easing plugin
        //- easing: 'easeInOutBack'
      });
    });

    $(".previous").click(function(){
      if(animating) return false;
      animating = true;
      
      current_fs = $(this).parent();
      previous_fs = $(this).parent().prev();
      
      //de-activate current step on progressbar
      $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
      
      //show the previous fieldset
      previous_fs.show(); 
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
          //as the opacity of current_fs reduces to 0 - stored in "now"
          //1. scale previous_fs from 80% to 100%
          scale = 0.8 + (1 - now) * 0.2;
          //2. take current_fs to the right(50%) - from 0%
          left = ((1-now) * 50)+"%";
          //3. increase opacity of previous_fs to 1 as it moves in
          opacity = 1 - now;
          current_fs.css({'left': left});
          previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
        }, 
        duration: 800, 
        complete: function(){
          current_fs.hide();
          animating = false;
        }, 
        //this comes from the custom easing plugin
        //- easing: 'easeInOutBack'
      });
    });

    $(".submit").click(function(){
      return false;
    })

    function populateSelect(id){
      const options = $(`#${id}`).children();
      for(var i=0; i<options.length; i++) {
        if(options[i].value === $(`#${id}`).attr("data-option")) {
          $(options[i]).prop("selected", true);
        }
      }
    }

    populateSelect("nationality");
    populateSelect("meansOfTravel");
    populateSelect("visaType");
    populateSelect("formerNationality");
    populateSelect("countryOfCurrentResidence");


              
              

