extends ./_user_dashboard_layout

block pre_bootstrap
  link(rel="stylesheet", href="/css/mdb.min.css")

block styles
  link(rel="stylesheet", href="/css/formstyle.css")

block main
  .content
    .container
      .row
        .col-md-12.col-md-offset-3
          form#msform(method='POST' enctype='multipart/form-data')
            // progressbar
            ul#progressbar
              li.long.active(style='color: #000000 !important;') Personal Information
              li.long(style='color: #000000 !important;') Contact Information
              li.long(style='color: #000000 !important;') Evidence of Citizenship
              li.long(style='color: #000000 !important;') Guarantors' Information
              li.long(style='color: #000000 !important;') Parental Consent
              li.long(style='color: #000000 !important;') Declaration
              li.long(style='color: #000000 !important;') Witness Information
            // fieldsets
            fieldset
              h2.fs-title Personal Information
              h3.fs-subtitle Help us identify who we're dealing with
              .row
                .col-sm-12.col-lg-4
                  label(for="surname") Surname :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.surname id="surname" placeholder="Surname" name="surname")
                .col-sm-12.col-lg-4
                  label(for="otherNames") Other Names :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.otherNames placeholder="Other names" id="otherNames" name="otherNames")
                .col-sm-12.col-lg-4
                  label(for="maidenName") Maiden name(s) :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.maidenName placeholder="Maiden name(s)" id="maidenName" name="maidenName")
              .row
                .col-sm-12.col-lg-4
                  label(for="previousName") Previous Name :
                  .form-group#affidavit
                  input.form-control.form-control-sm(type="text" value=form.previousName placeholder="Previous name if changed" id="previousName" name="previousName")
                .col-sm-12.col-lg-4
                  label(for="dateOfBirth") Date of Birth :
                  .form-group
                  input.form-control.form-control-sm( type="date" value=form.dateOfBirth id="dateOfBirth" name="dateOfBirth")
                .col-sm-12.col-lg-4
                  label(for="gender") Gender :
                  .form-group.btn-group.btn-group-toggle(data-toggle='buttons')
                    label.btn.btn-secondary.active
                      input#male(type='radio', name='gender', data-gender=form.gender value="male" autocomplete='off')
                      |  &nbsp &nbsp Male &nbsp &nbsp
                    label.btn.btn-secondary
                      input#female(type='radio', name='gender', data-gender=form.gender value="female" autocomplete='off')
                      |  &nbsp Female &nbsp
              .row
                .col-sm-12.col-lg-4
                  label(for="placeOfBirth") City / Town of Birth :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.placeOfBirth id="placeOfBirth" placeholder="City of Birth" name="placeOfBirth")
                .col-sm-12.col-lg-4
                  label(for="countryOfBirth") Country of Birth :
                  .form-group
                  select.select.form-control(placeholder="Country of Birth" data-option=form.countryOfBirth id="countryOfBirth" name="countryOfBirth")
                    option(value="") --Country of Birth--
                .col-sm-12.col-lg-4
                  label(for="nationality") Nationality :
                  .form-group
                  select.form-control.form-control-sm(placeholder="Nationality" data-option=form.nationality id="nationality" name="nationality")
                      option(value="") --select nationality--
              .row
                .col-sm-12.col-lg-4
                  label(for="height") Height :
                  .form-group
                  input.form-control.form-control-sm( id="height" value=form.height placeholder="E.g 1.7" name="height")
                .col-sm-12.col-lg-4
                  label(for="eyeColor") Eye color :
                  .form-group
                  select.form-control(placeholder="Eye color" data-option=form.eyeColor id="eyeColor" name="eyeColor")
                    option(value="") --select eye color--
                    option(value="Black") Black
                    option(value="Brown") Brown
                    option(value="Blue") Blue
                    option(value="Green") Green
                    option(value="Grey") Grey
                .col-sm-12.col-lg-4
                  label(for="hairColor") Hair color :
                  .form-group
                  select.form-control(placeholder="Hair color" data-option=form.hairColor id="hairColor" name="hairColor")
                    option(value="") --select hair color--
                    option(value="Black") Black
                    option(value="Brown") Brown
                    option(value="Blond") Blond
                    option(value="Ginger") Ginger
                    option(value="Grey") Grey
                    option(value="Red") Red
              input.next.action-button(type='button', name='next', value='Next')
            fieldset
              h2.fs-title Contact Information
              h3.fs-subtitle Tell us how we can contact you
              .row
                .col-sm-12.col-lg-4
                  label(for="countryOfResidence") Country of Residence :
                  .form-group
                  select.form-control.form-control-sm( name="countryOfResidence" data-option=form.countryOfResidence id="countryOfResidence")
                      option(value="") --select country of residence--
                .col-sm-12.col-lg-4
                  label(for="residentialAddress") Residential Address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.residentialAddress placeholder="Residential address" name="residentialAddress" id="residentialAddress")
                .col-sm-12.col-lg-4
                  label(for="telephoneNumber") Telephone Number :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.telephoneNumber placeholder="Telephone" name="telephoneNumber" id="telephoneNumber")
              .row
                .col-sm-12.col-lg-4
                  label(for="email") Email :
                  .form-group
                  input.form-control.form-control-sm( type="email" value=form.email placeholder="Email" name="email" id="email")
                .col-sm-12.col-lg-8
                  label(for="institution") Last educational institution attended :
                  .form-group
                    input.form-control.form-control-sm( type="text" value=form.institution placeholder="Last institution attended" id="institution" name="institution")
              .row
                .col-sm-12.col-lg-4
                  label(for="placeOfInstitution") Place of institution :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.placeOfInstitution placeholder="Place of institution" name="placeOfInstitution" id="placeOfInstitution")
                .col-sm-12.col-lg-4
                  label(for="lastYearOfEducation") Year of completion :
                  .form-group
                    input.form-control.form-control-sm(type="text" value=form.lastYearOfEducation placeholder="Year completed" name="lastYearOfEducation" id="lastYearOfEducation")
                .col-sm-12.col-lg-4
                  label(for="profession") Profession :
                  .form-group
                    input.form-control.form-control-sm(type="text" value=form.profession placeholder="Profession" name="profession" id="profession")
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='button', name='next', value='Next')

            fieldset
              h2.fs-title Evidence of Citizenship
              h3.fs-subtitle Please help us with some citizenship information
              .row
                .col-sm-12.col-lg-4
                  label(for="fathersName") Father's name :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.fathersName placeholder="Father's name" name="fathersName" id="fathersName")
                .col-sm-12.col-lg-4
                  label(for="fathersNationality") Father's nationality :
                  .form-group
                  select.form-control.form-control-sm( name="fathersNationality" data-option=form.fathersNationality id="fathersNationality")
                      option(value="") --Select father's nationality--
                .col-sm-12.col-lg-4
                  label(for="fathersAddress") Father's address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.fathersAddress placeholder="Father's address" name="fathersAddress" id="fathersAddress")
              .row
                .col-sm-12.col-lg-4
                  label(for="mothersName") Mother's name :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.mothersName placeholder="Mother's name" name="mothersName" id="mothersName")
                .col-sm-12.col-lg-4
                  label(for="mothersName") Mother's nationality :
                  .form-group
                  select.form-control.form-control-sm( name="mothersNationality" data-option=form.mothersNationality id="mothersNationality")
                      option(value="") --Select mother's nationality--
                .col-sm-12.col-lg-4
                  label(for="mothersName") Mother's address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.mothersAddress placeholder="Mother's address" name="mothersAddress" id="mothersAddress")
              .top-form-group
                .form-group
                  label.form-label Birth or Baptism Certificate / Citizenship Identity Card / Old Passport  
                    label.form-label.star *
              .row
                .col-sm-12.col-lg-4
                  label(for="evidenceOfCitizenshipNumber") Document Number :
                  .form-group
                    input.form-control.form-control-sm( type="text" value=form.evidenceOfCitizenshipNumber placeholder="Document number" name="evidenceOfCitizenshipNumber" id="evidenceOfCitizenshipNumber")
                .col-sm-12.col-lg-4
                  label(for="evidenceOfCitizenshipDate") Date of issue :
                  .form-group
                    input.form-control.form-control-sm( type="date" placeholder="Date of issue" value=form.evidenceOfCitizenshipDate name="evidenceOfCitizenshipDate" id="evidenceOfCitizenshipDate")
                .col-sm-12.col-lg-4
                  label(for="evidenceOfCitizenshipPlaceOfIssue") Place of issue :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.evidenceOfCitizenshipPlaceOfIssue placeholder="Place of issue" name="evidenceOfCitizenshipPlaceOfIssue" id="evidenceOfCitizenshipPlaceOfIssue")
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='button', name='next', value='Next')

            fieldset
              h2.fs-title Guarantors' information
              h3.fs-subtitle Tell us about your guarantors
              p First guarantor
              .row
                .col-sm-12.col-lg-6
                  label(for="guarantorsName1") Guarantor's name :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.guarantors[0].guarantorsName placeholder="Full name" name="guarantorsName1" id="guarantorsName1")
                .col-sm-12.col-lg-6
                  label(for="guarantorsAddress1") Guarantor's address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.guarantors[0].guarantorsAddress placeholder="Residential address" name="guarantorsAddress1" id="guarantorsAddress1")
                .col-sm-12.col-lg-6
                  label(for="guarantorsTelephoneNumber1") Guarantor's telephone :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.guarantors[0].guarantorsTelephoneNumber placeholder="Telephone number" name="guarantorsTelephoneNumber1" id="guarantorsTelephoneNumber1")
                .col-sm-12.col-lg-6
                  label(for="guarantorsSignature1") Guarantor's signature :
                  input(type='hidden' value=form.guarantors[0].guarantorsSignature name="guarantorsSignature1")
                  input(type='file' name="guarantorsSignature1")
                  if form.guarantors[0].guarantorsSignature
                    .edit.actions-button 
                      a(href=`/view/${form._id}/${form.guarantors[0].guarantorsSignature}?type=Passport` target="blank")
                        i.material-icons attach_file
                        | view previously uploaded signature
              hr
              p Second guarantor
              .row
                .col-sm-12.col-lg-6
                  label(for="guarantorsName2") Guarantor's name :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.guarantors[1].guarantorsName placeholder="Full name" name="guarantorsName2" id="guarantorsName2")
                .col-sm-12.col-lg-6
                  label(for="guarantorsAddress2") Guarantor's address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.guarantors[1].guarantorsAddress placeholder="Residential address" name="guarantorsAddress2" id="guarantorsAddress2")
                .col-sm-12.col-lg-6
                  label(for="guarantorsTelephoneNumber2") Guarantor's telephone :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.guarantors[1].guarantorsTelephoneNumber placeholder="Telephone number" name="guarantorsTelephoneNumber2" id="guarantorsTelephoneNumber2")
                .col-sm-12.col-lg-6
                  label(for="guarantorsSignature2") Guarantor's signature :
                  input(type='hidden' value=form.guarantors[1].guarantorsSignature name="guarantorsSignature2")
                  input(type='file' name="guarantorsSignature2")
                  if form.guarantors[1].guarantorsSignature
                    .edit.actions-button 
                      a(href=`/view/${form._id}/${form.guarantors[1].guarantorsSignature}?type=Passport` target="blank")
                        i.material-icons attach_file
                        | view previously uploaded signature
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='button', name='next', value='Next')

            fieldset
              h2.fs-title Parental Consent
              h3.fs-subtitle For applicants 
                strong under 18 years of age.
              .row.text-center
                |  &nbsp &nbsp  I hereby give consent for applicant who is my &nbsp &nbsp
                input.form-control( type="text" value=form.parentalConsentMetaData name="parentalConsentMetaData" placeholder="Son, daughter...") 
                |  &nbsp &nbsp to hold a passport.
              br
              .row
                .col-sm-12.col-lg-6
                  label(for="parentName") Parent's name :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.parentName placeholder=" Parent's Full name" name="parentName" id="parentName")
                .col-sm-12.col-lg-6
                  label(for="parentAddress") Parent's address :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.parentAddress placeholder="Parent's address" name="parentAddress" id="parentAddress")
              .row
                .col-sm-12.col-lg-6
                  label(for="parentTelephoneNumber") Parent's telephone number :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.parentTelephoneNumber placeholder="Parent's Telephone number" name="parentTelephoneNumber" id="parentTelephoneNumber")
                .col-sm-12.col-lg-6
                  label(for="parentalConsentSignature") Parent's signature :
                  input(type='hidden' value=form.parentalConsentSignature name="parentalConsentSignature")
                  input(type='file' name="parentalConsentSignature")
                  if form.parentalConsentSignature
                    .edit.actions-button 
                      a(href=`/view/${form._id}/${form.parentalConsentSignature}?type=Passport` target="blank")
                        i.material-icons attach_file
                        | view previously uploaded signature
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='button', name='next', value='Next')

            fieldset
              h2.fs-title Declarations
              h3.fs-subtitle For persons filling on behalf of applicant who cannot read and write English
              .row
                |&nbsp &nbsp &nbsp &nbsp The above declaration has been read and interpreted by me in &nbsp &nbsp
                input.form-control(type="text" value=form.languageInterpretedIn placeholder="Eg. English" name="languageInterpretedIn")
                |&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp to the applicant and he/she understands and accepts
              br
              .row
                .col-sm-12.col-lg-4
                  label(for="interpreterName") Interpreter's full name :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.interpreterName placeholder="Full name of interpreter" name="interpreterName" id="interpreterName")
                .col-sm-12.col-lg-4
                  label(for="interpreterAddress") Interpreter's address :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.interpreterAddress placeholder="Residential address of interpreter" name="interpreterAddress" id="interpreterAddress")
                .col-sm-12.col-lg-4
                  label(for="interpreterTelephoneNumber") Interpreter's telephone :
                  .form-group
                  input.form-control.form-control-sm(type="text" value=form.interpreterTelephoneNumber placeholder="Interpreter's Telephone number" name="interpreterTelephoneNumber" id="interpreterTelephoneNumber")
              .row
                .col-sm-12.col-lg-6
                  label(for="interpretersSignature") Interpreter's signature :
                  input(type='hidden' value=form.interpretersSignature name="interpretersSignature")
                  input(type='file' name="interpretersSignature")
                  if form.interpretersSignature
                    .edit.actions-button 
                      a(href=`/view/${form._id}/${form.interpretersSignature}?type=Passport` target="blank")
                        i.material-icons attach_file
                        | view previously uploaded signature
                .col-sm-12.col-lg-6
                  label(for="interpretationDate") Interpretation date :
                  .form-group
                    input.form-control.form-control-sm( type="date" value=form.interpretationDate placeholder="Interpretation date" name="interpretationDate" id="interpretationDate")
              hr
              h3.fs-subtitle For applicants filling the form by themselves
              .row
                | I the undersigned, hereby apply for a Ghana Passport and declare that the information provided are true.
              br
              .row
                .col-sm-12.col-lg-6
                  label Have you held a passport of any description?
                  .form-group.btn-group.btn-group-toggle(data-toggle='buttons')
                    label.btn.btn-secondary.active
                      input#attached(type='radio', name='declarationOption', data-checked=form.declarationOption value="attached/lost" autocomplete='off')
                      |  &nbsp &nbsp &nbsp &nbsp Yes, I have &nbsp &nbsp &nbsp &nbsp 
                    label.btn.btn-secondary
                      input#newPassport(type='radio', name='declarationOption', data-checked=form.declarationOption value="newPassport" autocomplete='off')
                      |  &nbsp &nbsp &nbsp &nbsp No, I haven't &nbsp &nbsp &nbsp &nbsp
                .col-sm-12.col-lg-6
                  label(for="previousPassportNumber") If yes, provide its the passport number :
                  .form-group
                    input.form-control.form-control-sm(type="text" name="previousPassportNumber" data-number=form.previousPassportNumber value=form.previousPassportNumber id="previousPassportNumber")
              .row
                .col-sm-12.col-lg-6
                  label(for="declarationSignature") Applicant's signature :
                  input(type='hidden' value=form.declarationSignature name="declarationSignature")
                  input(type='file' name="declarationSignature")
                  if form.declarationSignature
                    .edit.actions-button 
                      a(href=`/view/${form._id}/${form.declarationSignature}?type=Passport` target="blank")
                        i.material-icons attach_file
                        | view previously uploaded signature
                .col-sm-12.col-lg-6
                  label(for="declarationDate") Application Date :
                  .form-group
                    input.form-control.form-control-sm( type="date" value=form.declarationDate name="declarationDate" id="declarationDate")
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='button', name='next', value='Next')

            fieldset
              h2.fs-title Witness' information
              h3.fs-subtitle
              .row
                .col-sm-12.col-lg-4
                  label(for="witnessName") Witness' name :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.witnessName placeholder="Witness name" name="witnessName" id="witnessName")
                .col-sm-12.col-lg-4
                  label(for="witnessOccupation") Witness' occupation :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.witnessOccupation placeholder="Witness occupation" name="witnessOccupation" id="witnessOccupation")
                .col-sm-12.col-lg-4
                  label(for="witnessWorkPlaceAddress") Witness' workplace address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.witnessWorkPlaceAddress placeholder="Witness work place" name="witnessWorkPlaceAddress" id="witnessWorkPlaceAddress")
              .row
                .col-sm-12.col-lg-6
                  label(for="witnessResidentialAddress") Witness' residential address :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.witnessResidentialAddress placeholder="Witness residential address" name="witnessResidentialAddress" id="witnessResidentialAddress")
                .col-sm-12.col-lg-6
                  label(for="witnessTelephoneNumber") Witness' telephone number :
                  .form-group
                  input.form-control.form-control-sm( type="text" value=form.witnessTelephoneNumber placeholder="Witness telephone number" name="witnessTelephoneNumber" id="witnessTelephoneNumber")
              .row
                .col-sm-12.col-lg-6
                  label(for="witnessDate") Witness date  :
                  .form-group
                  input.form-control.form-control-sm( type="date" value=form.witnessDate placeholder="Date" name="witnessDate" id="witnessDate")
                .col-sm-12.col-lg-6
                  label(for="witnessSignature") Witness' signature :
                  input(type='hidden' value=form.witnessSignature name="witnessSignature")
                  input(type='file' name="witnessSignature")
                  if form.witnessSignature
                  .edit.actions-button 
                    a(href=`/view/${form._id}/${form.witnessSignature}?type=Passport` target="blank")
                      i.material-icons attach_file
                      | view previously uploaded signature
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='submit', formaction=`/update/${form._id}?type=Passport&aim=continue-later&formRecordId=${formRecordId}` name='continue_later', value='continue later')
              input.next.action-button(type='submit', formaction=`/update/${form._id}?type=Passport&formRecordId=${formRecordId}` name='submit', value='Submit')
block scripts
  script(src="/js/countries.js")
  //- script(src="/js/jquery.min.js")
  script.
    var countryOfBirth = document.querySelector("#countryOfBirth");
    var countryOfResidence = document.querySelector("#countryOfResidence");
    var fathersNationality = document.querySelector("#fathersNationality");
    var mothersNationality = document.querySelector("#mothersNationality");
    var nationality = document.querySelector("#nationality");

    if (countryOfBirth) {
      countries.forEach(function(country) {
        appendOptions(countryOfBirth, country.name);
        appendOptions(countryOfResidence, country.name);
        appendOptions(mothersNationality, country.name);
        appendOptions(fathersNationality, country.name);
        appendOptions(nationality, country.name);
      });
    }

    function appendOptions(parent, value) {
      var option = document.createElement("option");
      option.innerHTML = value;
      parent.appendChild(option);
    }

    $("#newPassport").change( () => {
      $("#previousPassportNumber").attr("disabled",true);
    });

    $("#attached").change(() => {
      $("#previousPassportNumber").attr("disabled",false);
    });

    
    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
      if(animating) return false;
      animating = true;
      
      current_fs = $(this).parent();
      next_fs = $(this).parent().next();
      
      //activate next step on progressbar using the index of next_fs
      $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
      
      //show the next fieldset
      next_fs.show(); 
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
          //as the opacity of current_fs reduces to 0 - stored in "now"
          //1. scale current_fs down to 80%
          scale = 1 - (1 - now) * 0.2;
          //2. bring next_fs from the right(50%)
          left = (now * 50)+"%";
          //3. increase opacity of next_fs to 1 as it moves in
          opacity = 1 - now;
          current_fs.css({
            'transform': 'scale('+scale+')',
            'position': 'absolute'
          });
          next_fs.css({'left': left, 'opacity': opacity});
        }, 
        duration: 800, 
        complete: function(){
          current_fs.hide();
          animating = false;
        }, 
        //this comes from the custom easing plugin
        //- easing: 'easeInOutBack'
      });
    });

    $(".previous").click(function(){
      if(animating) return false;
      animating = true;
      
      current_fs = $(this).parent();
      previous_fs = $(this).parent().prev();
      
      //de-activate current step on progressbar
      $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
      
      //show the previous fieldset
      previous_fs.show(); 
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
          //as the opacity of current_fs reduces to 0 - stored in "now"
          //1. scale previous_fs from 80% to 100%
          scale = 0.8 + (1 - now) * 0.2;
          //2. take current_fs to the right(50%) - from 0%
          left = ((1-now) * 50)+"%";
          //3. increase opacity of previous_fs to 1 as it moves in
          opacity = 1 - now;
          current_fs.css({'left': left});
          previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
        }, 
        duration: 800, 
        complete: function(){
          current_fs.hide();
          animating = false;
        }, 
        //this comes from the custom easing plugin
        //- easing: 'easeInOutBack'
      });
    });

    $(".submit").click(function(){
      return false;
    })

    function populateSelect(id){
      const options = $(`#${id}`).children();
      for(var i=0; i<options.length; i++) {
        if(options[i].value === $(`#${id}`).attr("data-option")) {
          $(options[i]).prop("selected", true);
        }
      }
    }

    if($("#male").attr("data-gender") === "Male") {
      $("#male").attr("checked", true);
      var mlabel = $("#male").parent();
      var flabel = $("#female").parent();
      $(flabel).removeClass("active");
      $(mlabel).addClass("active");
    }

    if($("#female").attr("data-gender") === "Female") {
      $("#female").attr("checked", true);
      var mlabel = $("#male").parent();
      var flabel = $("#female").parent();
      $(mlabel).removeClass("active");
      $(flabel).addClass("active");
    }

    if($("#newPassport").attr("data-checked") === "newPassport") {
      $("#newPassport").attr("checked", true);
      var mlabel = $("#newPassport").parent();
      var flabel = $("#attached").parent();
      $(flabel).removeClass("active");
      $(mlabel).addClass("active");
      $("#previousPassportNumber").val("");
      $("#previousPassportNumber").attr("disabled",true);
    }

    if($("#attached").attr("data-checked") === "attached/lost") {
      $("#attached").attr("checked", true);
      var mlabel = $("#newPassport").parent();
      var flabel = $("#attached").parent();
      $(mlabel).removeClass("active");
      $(flabel).addClass("active");
    }


    var newPassport = document.getElementById("newPassport");
    if(newPassport.checked) {
      $("#previousPassportNumber").attr("disabled",true);
    }
    var attached = document.getElementById("attached");
    if(attached.checked) {
      $("#previousPassportNumber").attr("disabled",false);
    }

    $("#newPassport").change( () => {
      $("#previousPassportNumber").val("");
      $("#previousPassportNumber").attr("disabled",true);
    });

    $("#attached").change(() => {
      var number = $("#previousPassportNumber").attr("data-number");
      console.log("attached",number);
      $("#previousPassportNumber").val(number);
      $("#previousPassportNumber").attr("disabled",false);
    });

    populateSelect("nationality");
    populateSelect("fathersNationality");
    populateSelect("mothersNationality");
    populateSelect("countryOfResidence");
    populateSelect("countryOfBirth");
    populateSelect("eyeColor");
    populateSelect("hairColor");

              
              

