extends ./_user_dashboard_layout

block pre_bootstrap
  link(rel="stylesheet", href="/css/mdb.min.css")

block styles
  link(rel="stylesheet", href="/css/formstyle.css")

block main
  .content
    .container
      .row
        .col-md-12.col-md-offset-3
          form#msform
            // fieldsets
            fieldset
              h2.fs-title Appointment Form Application
              h3.fs-subtitle Please provide appointment details
              .row
                .col-sm-12.col-lg-4
                  label(for="surname") Surname :
                  .form-group
                    input.form-control.form-control-sm(type="text" value=form.surname required  id="surname" placeholder="Surname" name="surname")
                .col-sm-12.col-lg-4
                  label(for="otherNames") Other Names :
                  .form-group
                    input.form-control.form-control-sm(type="text" value=form.otherNames required  placeholder="Other Names" id="otherNames" name="otherNames")
                .col-sm-12.col-lg-4
                  label(for="nationality") Nationality :
                  .form-group
                    select.form-control.form-control-sm(id="nationality" data-option=form.nationality required  name="nationality")
                      option(value="") --Select nationality--
              .row
                .col-sm-12.col-lg-4
                  label(for="formerNationality") Former Nationality :
                  .form-group
                    select.form-control.form-control-sm(id="formerNationality" data-option=form.formerNationality name="formerNationality")
                      option(value="") --Select former nationality--
                .col-sm-12.col-lg-4
                  label(for="countryOfResidence") Country Of Residence :
                  .form-group
                    select.form-control.form-control-sm(id="countryOfResidence" data-option=form.countryOfResidence required  name="countryOfResidence")
                      option(value="") --Select country of residence--
                .col-sm-12.col-lg-4
                  label(for="residentialAddress") Residential Address :
                  .form-group
                    input.form-control.form-control-sm(placeholder="Residential Address" value=form.residentialAddress required  id="residentialAddress" name="residentialAddress")
              .row
                .col-sm-12.col-lg-4
                  label(for="email") Email :
                  .form-group
                    input.form-control.form-control-sm( type="text" required  placeholder="Email" value=form.email id="email" name="email")
                .col-sm-12.col-lg-4
                  label(for="telephoneNumber") Telephone Number :
                  .form-group
                    input.form-control.form-control-sm( type="text" required  placeholder="Telephone Number" value=form.telephoneNumber id="telephoneNumber" name="telephoneNumber")
                .col-sm-12.col-lg-4
                  label(for="occupation") Occupation :
                  .form-group
                    input.form-control.form-control-sm( type="text" required  placeholder="Occupation" value=form.occupation id="occupation" name="occupation")
              .row
                .col-sm-12.col-lg-8
                  label(for="reasonOfAppointment") Reason of Appointment :
                  .form-group
                    textarea.form-control.form-control-sm( required id="reasonOfAppointment" name="reasonOfAppointment")
                      | #{form.reasonOfAppointment}
                .col-sm-12.col-lg-4
                  label(for="preferredDateOfAppointment") Preferred Date of Appointment :
                  .form-group
                    input.form-control.form-control-sm(required type="date" id="preferredDateOfAppointment" value=form.preferredDateOfAppointment name="preferredDateOfAppointment")
              input.action-button(type='submit', formaction=`/update/${form._id}?type=Appointment&formRecordId=${formRecordId}` formmethod="POST" value='Submit')

block scripts
  script(src="/js/countries.js")
  script.
    var formerNationality = document.querySelector("#formerNationality");
    var countryOfResidence = document.querySelector("#countryOfResidence");
    var nationality = document.querySelector("#nationality");

    countries.forEach(function(country) {
      appendOptions(formerNationality, country.name);
      appendOptions(countryOfResidence, country.name);
      appendOptions(nationality, country.name);
    });

    function appendOptions(parent, value) {
      var option = document.createElement("option");
      option.innerHTML = value;
      parent.appendChild(option);
    }

    function populateSelect(id){
      const options = $(`#${id}`).children();
      for(var i=0; i<options.length; i++) {
        if(options[i].value === $(`#${id}`).attr("data-option")) {
          $(options[i]).prop("selected", true);
        }
      }
    }

    populateSelect("nationality");
    populateSelect("formerNationality");
    populateSelect("countryOfResidence");