extends ./layout.pug

block main
  .main-content.passport
    h5.display-5.my-4 Visa Application
    .passport-form  
      form(name="passport")
        .form-section
          p.form-section-name Personal Information
          .top-form-group
            .form-group
              label.form-label(for="surname") Surname
              label.form-label.star *
              input.form-control.form-control-sm(type="text" value=`${form.surname}` id="surname" placeholder="Surname" name="surname")
            .form-group
              label.form-label(for="firstName") First name
              label.form-label.star *
              input.form-control.form-control-sm( type="text" value=`${form.firstName}` placeholder="First name" id="firstName" name="firstName")
            .form-group
              label.form-label(for="previousName") Previous name, if changed
              label.form-label.star *
              input.form-control.form-control-sm(type="text" value=`${form.otherName}` id="previousName" placeholder="Previous name" name="previousName")
          .bottom-form-group
            .form-group
              label.form-label(for="dateOfBirth") Date of Birth
              label.form-label.star *
              input.form-control.form-control-sm( type="date" value=`${form.dateOfBirth}` placeholder="Date of Birth" id="dateOfBirth" name="dateOfBirth")
            .form-group
              label.form-label(for="placeOfBirth") Place of birth
              label.form-label.star *
              input.form-control.form-control-sm( type="text" value=`${form.placeOfBirth}` placeholder="Place of Birth" id="placeOfBirth" name="placeOfBirth")
            .form-group
              label.form-label(for="nationality") Applicant's nationality
              label.form-label.star *
              select#nationality.form-control.form-control-sm( name="nationality" value=`${form.nationality}`)
                option(value="dane") Dane
        .form-section
          p.form-section-name Contact Information
          .top-form-group
            .form-group
              label.form-label(for="email") Email
              label.form-label.star *
              input.form-control.form-control-sm( type="text" value=`${form.email}` placeholder="Email" id="email" name="email")
            .form-group
              label.form-label(for="telephone") Telephone Number
              label.form-label.star *
              input.form-control.form-control-sm( type="text" value=`${form.telephone}` placeholder="Telephone Number" id="telephone" name="telephone")
            .form-group
              label.form-label(for="residentialAddress") Residential Address
              label.form-label.star *
              input.form-control.form-control-sm( type="text" value=`${form.residentialAddress}` placeholder="Residential Address" id="residentialAddress" name="residentialAddress")
        .form-section
          p.form-section-name Passport Information
          .top-form-group
            .form-group
              label.form-label(for="passportNumber") Passport Number
              label.form-label.star *
              input.form-control.form-control-sm( type="text" value=`${form.passportNumber}` placeholder="Passport Number" id="passportNumber" name="passportNumber")
            .form-group
              label.form-label(for="passportDateOfIssue") Date of Issue
              label.form-label.star *
              input.form-control.form-control-sm( type="date" value=`${form.passportDateOfIssue}` placeholder="Date of Issue" id="passportDateOfIssue" name="passportDateOfIssue")
            .form-group
              label.form-label(for="passportDateOfExpiry") Expiry Date
              label.form-label.star *
              input.form-control.form-control-sm( type="date" value=`${form.passportDateOfExpiry}` placeholder="Expiry Date" id="passportDateOfExpiry" name="passportDateOfExpiry")
          .bottom-form-group
            .form-group
              label.form-label(for="passportPlaceOfIssue") Place of Issue
              label.form-label.star *
              input.form-control.form-control-sm( type="text" placeholder="Place of Issue" value=`${form.passportPlaceOfIssue}` id="passportPlaceOfIssue" name="passportPlaceOfIssue")
            .form-group
              label.form-label(for="formerNationality") Former Nationality(if applicable)
              select#nationality.form-control.form-control-sm( name="formerNationality" value=`${form.formerNationality}`)
                option(value="dane") Dane
            .form-group
              label.form-label(for="currentCountryOfResidence") Current country of Residence
              select#nationality.form-control.form-control-sm( name="currentCountryOfResidence" value=`${form.currentCountryOfResidence}`)
                option(value="dane") Dane
        .form-section
          p.form-section-name Work Information
          .top-form-group
            .form-group
              label.form-label(for="profession") Profession
              label.form-label.star *
              input.form-control.form-control-sm( type="text" value=`${form.profession}` placeholder="Profession" id="profession" name="profession")
            .form-group
              label.form-label(for="workPlaceAddress") Work Place Address
              label.form-label.star *
              input.form-control.form-control-sm( type="text" value=`${form.workPlaceAddress}` placeholder="Work Place Address" id="workPlaceAddress" name="workPlaceAddress")
            .form-group
              label.form-label(for="workPlaceTelephoneNumber") Work Place Telephone
              label.form-label.star *
              input.form-control.form-control-sm( type="text" value=`${form.workPlaceTelephoneNumber}` placeholder="Work Place Telephone" id="workPlaceTelephoneNumber" name="workPlaceTelephoneNumber")
        .form-section
          p.form-section-name Travel Details
            .top-form-group
              .form-group
                label.form-label(for="intendedDateOfTravel") Intended Date of Travel
                label.form-label.star *
                input.form-control.form-control-sm( type="date" value=`${form.intendedDateOfTravel}` placeholder="Intended Date of Travel" id="intendedDateOfTravel" name="intendedDateOfTravel")
              .form-group
                label.form-label(for="durationOfStay") Duration of Stay
                label.form-label.star *
                input.form-control.form-control-sm( type="text" value=`${form.durationOfStay}` placeholder="Duration of Stay" id="durationOfStay" name="durationOfStay")
              .form-group
                label.form-label(for="dateOfLastVisit") Date of Last Visit to Ghana
                label.form-label.star *
                input.form-control.form-control-sm( type="date" value=`${form.dateOfLastVisit}` placeholder="Date of Last Visit" id="dateOfLastVisit" name="dateOfLastVisit")
            .bottom-form-group
              .form-group
                label.form-label(for="purposeOfJourney") Purpose of Journey
                label.form-label.star *
                input.form-control.form-control-sm( type="text" value=`${form.purposeOfJourney}` placeholder="Purpose of Journey" id="purposeOfJourney" name="purposeOfJourney")
              .form-group
                label.form-label(for="meansOfTravel") Means of Travel
                label.form-label.star *
                select.form-control.form-control-sm( type="text" value=form.meansOfTravel placeholder="Means of Travel" id="meansOfTravel" name="meansOfTravel")
                  option(value="") Please select one......
                  option(value="air") Air
                  option(value="sea") Sea
                  option(value="land") Land
              .form-group
                label.form-label(for="financialMeansOfApplicant") Financial means at disposal
                label.form-label.star *
                input.form-control.form-control-sm( type="text" value=`${form.financialMeansOfApplicant}` placeholder="Financial Means" id="financialMeansOfApplicant" name="financialMeansOfApplicant")
          .form-section
            p.form-section-name Visa
            .top-form-group
              .form-group
                label.form-label(for="visaType") Visa Type
                label.form-label.star *
                select#nationality.form-control.form-control-sm( name="visaType" value=`${form.visaType}`)
                  option(value="") Please Select one.....
                  option(value="single entry") Single Entry Visa
                  option(value="multiple entry") Multiple Entry Visa
              .form-group
                label.form-label(for="possessionOfReturnTicket" id="possessionOfReturnTicket") Do you have a return ticket
                  label.form-label.star *
                br
                .form-check.form-check-inline
                  input.form-check-input.form-control-sm( type="radio" id="yes" name="possessionOfReturnTicket" value="true")
                  label.form-label.form-check-label.form-label Yes
                .form-check.form-check-inline
                  input.form-check-input.form-control-sm( type="radio" id="no" name="possessionOfReturnTicket" value="false")
                  label.form-label.form-check-label.form-label False
              .form-group
                label.form-label(for="ticketNumber") If yes, provide ticket number
                input.form-control.form-control-sm( type="text" value=`${form.ticketNumber}` placeholder="Ticket Number" id="ticketNumber" name="ticketNumber")
            .bottom-form-group
              .form-group
                label.form-label(for="accompaniedBy") Who are you accompanied by?
                input.form-control.form-control-sm( type="text" value=`${form.accompaniedBy}` placeholder="Who are you accompanied by?" id="accompaniedBy" name="accompaniedBy")
              .form-group
                label.form-label(for="accompaniedByDateOfBirth") His/Her Date of Birth
                input.form-control.form-control-sm( type="date" value=`${form.accompaniedByDateOfBirth}` placeholder="His/Her Date of Birth" id="accompaniedByDateOfBirth" name="accompaniedByDateOfBirth")
          .form-section
            p.form-section-name References' Information
            |1.
            .top-form-group
              .form-group
                label.form-label(for="guarantorsName1") Full name
                label.form-label.star *
                input.form-control.form-control-sm( type="text" value=`${form.references[0].fullName}` placeholder="Full name" name="guarantorsName1" id="guarantorsName1")
              .form-group
                label.form-label(for="guarantorsAddress1") Residential address
                label.form-label.star *
                input.form-control.form-control-sm( type="text" value=`${form.references[0].address}` placeholder="Residential address" name="guarantorsAddress1" id="guarantorsAddress1")
              .form-group
                label.form-label(for="guarantorsTelephoneNumber1") Telephone number
                label.form-label.star *
                input.form-control.form-control-sm( type="text" value=`${form.references[0].telephoneNumber}` placeholder="Telephone number" name="guarantorsTelephoneNumber1" id="guarantorsTelephoneNumber1")
            |2.
            .top-form-group
              .form-group
                label.form-label(for="guarantorsName2") Full name
                label.form-label.star *
                input.form-control.form-control-sm( type="text" value=`${form.references[1].fullName}` placeholder="Full name" name="guarantorsName2" id="guarantorsName2")
              .form-group
                label.form-label(for="guarantorsAddress2") Residential address
                label.form-label.star *
                input.form-control.form-control-sm( type="text" value=`${form.references[1].address}` placeholder="Residential address" name="guarantorsAddress2" id="guarantorsAddress2")
              .form-group
                label.form-label(for="guarantorsTelephoneNumber2") Telephone number
                label.form-label.star *
                input.form-control.form-control-sm( type="text" value=`${form.references[1].telephoneNumber}` placeholder="Telephone number" name="guarantorsTelephoneNumber2" id="guarantorsTelephoneNumber2")
        
        .submit-button.submit-passport-form
          //- button#customButton.btn.btn-primary.btn-lg.custom-button(type='button', data-toggle='modal', data-target='.bd-example-modal-sm') submit
          //- button#continue-later.btn.btn-primary.btn-lg.custom-button(type="submit" formaction="/forms/visa?type=continue-later" formmethod="post") Save and Continue Later
          button.btn.btn-primary.btn-lg.custom-button(type='submit' formaction=`/update/${form._id}?type=${form.formType}` formmethod="post") Submit
          button#continue-later.btn.btn-primary.btn-lg.custom-button(type="submit" formaction=`/update/${form._id}?type=${form.formType}&aim=continue-later` formmethod="post") Save and Continue Later
  script(src="/js/countries.js")  
  script(src="https://checkout.stripe.com/checkout.js")
  script(src="/js/axios.min.js")