extends ./_user_dashboard_layout

block styles
  link(rel="stylesheet", href="/css/profile.css")

block main
  // End Navbar
  .content
    .container-fluid
      .row
        .col-md-12
          .card
            .card-header.card-header-primary
              h4.card-title Transactions Summary
              p.card-category  All forms
            .card-body
              .table-responsive
                input#records(type="hidden", name="records" value=formRecords.length)
                table.table
                  thead.text-primary
                    th No.
                    th Type
                    th Created At
                    th Last Updated
                    th Processing Status
                    th Payment Status
                    th Price (₵)
                    th
                    th
                    th
                  tbody
                    each formRecord, index in formRecords
                      tr
                        th(scope='row') #{index + 1}
                        td #{formRecord.formType}
                        td #{formRecord.createdAt}
                        td #{formRecord.updatedAt}
                        td
                          if formRecord.status === "New Request"
                            //- img.icon.processing-status-icon(src="/img/circle-red.svg")
                            button.btn.btn-danger.btn-link.btn-sm(type="button" rel="tooltip" title="New Request")
                              i.material-icons cancel
                          else if formRecord.status === "Completed Request"
                            //- img.icon.processing-status-icon(src="/img/circle-green.svg")
                            button.btn.btn-primary.btn-link.btn-sm(type="button" rel="tooltip" title="Completed Request")
                              i.material-icons done 
                          else if formRecord.status === "Dispatched Request"
                            //- img.icon.processing-status-icon(src="/img/check.svg")
                            button.btn.btn-success.btn-link.btn-sm(type="button" rel="tooltip" title="Dispatched Request")
                              i.material-icons done
                          else
                            //- img.icon.processing-status-icon(src="/img/circle-yellow.svg")
                            button.btn.btn-warning.btn-link.btn-sm(type="button" rel="tooltip" title="Under Processing")
                              i.material-icons done
                          //- | #{formRecord.status}
                        td
                          if formRecord.paymentId
                            button.btn.btn-success.btn-link.btn-sm(type="button" rel="tooltip" title="Paid")
                              i.material-icons done 
                          else
                            button.btn.btn-danger.btn-link.btn-sm(type="button" rel="tooltip" title="Unpaid")
                              i.material-icons cancel
                        td.text-primary(id=`price${index}`)
                          if formRecord.formType === "Passport"
                            | #{passportPrice}
                          else if formRecord.formType === "Visa" 
                            | #{visaPrice}
                          else 
                            | not known
                        td 
                          button(type="button" rel="tooltip" title="Edit Form" class="btn btn-primary btn-link btn-sm")
                            a(href=`/edit/${formRecord.formId}?type=${formRecord.formType}&formRecordId=${formRecord._id}`)
                              i(class="material-icons") edit
                        td
                          button(type="button" rel="tooltip" title="Delete" class="btn btn-danger btn-link btn-sm" data-toggle="modal" data-target=`#${formRecord._id}`)
                            i.material-icons close
                          .modal.fade(id=`${formRecord._id}` tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                            .modal-dialog(role='document')
                              .modal-content
                                .modal-header
                                  h5#exampleModalLabel.modal-title Confirm
                                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                                .modal-body
                                  | Are you sure you want to delete this form?
                                .modal-footer
                                  button.btn.btn-success(type='button', data-dismiss='modal') Cancel
                                  button.btn.btn-danger.confirm-delete(type='button' id=`${formRecord._id}` data-formRecordId=`${formRecord._id}` data-formId=`${formRecord.formId}` data-type=`${formRecord.formType}`) Delete

                        if !formRecord.paymentId
                          td.customButton.pay-button.actions-button(title="Pay" id=`${formRecord._id}`)
                            button.btn.btn-info.btn-link.btn-sm(type="button" rel="tooltip" title="Pay")
                              i.material-icons credit_card
                        else 
                          td.actions-button

block scripts
  script(src="https://checkout.stripe.com/checkout.js")
  script(src="/js/axios.min.js")
  script.
    $(".confirm-delete").click(function(e) {
      location.assign("/delete/" + this.getAttribute("data-formRecordId") + "?type=" + this.getAttribute("data-type") + "&formId=" + this.getAttribute("data-formId"))
    });

    // stripe checkout
    var records = $("#records").val();
    console.log(records);
    for(var i = 0; i < records; i++) {
      $(`#price${i}`).parent().attr("data-price", $(`#price${i}`).text());
    }
    var handler = StripeCheckout.configure({
      key: "pk_test_AZLJ6GOzlzvtcrxBWn8WAqLh",
      image: "/img/logo.png",
      locale: "auto",
      allowRememberMe: false,
      token: function(token) {
        axios
          .post("/forms/payment", { token, formRecordId: document.formRecordId })
          .then(function(res) {
            location.reload();
            console.log(res);
          })
          .catch(function(err) {
            document.body.innerHTML = "";
            document.body.innerHTML = err.response.data;
            console.log(err.response);
          });
      }
    });

    $(".customButton").click(function(e) {
      // Open Checkout with further options:
      document.formRecordId = this.id;
      console.log(document.formRecordId)
      handler.open({
        name: "Embassy of Denmark",
        description: "Pay for your form",
        amount: $(this).parent().attr("data-price")
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener("popstate", function() {
      handler.close();
    });
