extends ./layout.pug

block main
  .main-content.profile
    .display-4.text-center.my-4 My Profile
    table.table
      thead
        tr
          th(scope='col') NO.
          th(scope='col') FORM
          th(scope='col') CREATED AT
          th(scope='col') LAST UPDATED
          th(scope='col') STATUS
          th(scope='col') PRICE(₵)
          th(scope='col') 
          th(scope='col') 
      tbody
        each form, index in forms
          tr
            th(scope='row') #{index + 1}
            td #{form.formType}
            td #{form.createdAt}
            td #{form.updatedAt}
            td #{form.status}
            td #{200}
            td.edit 
              a(href=`/edit/${form.formId}?type=${form.formType}`)
                img.edit-icon(src="/img/edit.svg") 
                | Edit
            td.view 
              a(href=`/view/${form.formId}?type=${form.formType}`)
                img.view-icon(src="/img/eye.svg")
                | View
    if errorMessage
      .alert.alert-warning.text-center(role="alert") #{errorMessage}
